{% extends 'templates/layoutfluid.twig' %}
{% block title %}{{interface_ui.title_privacy_policy | capitalize}}{% endblock %}
{% block content %}
<div class="privacy_content">
  <article role="article">
  <div>
    <div>
      <p><strong>Application Privacy Statement</strong></p>
      <p>This privacy statement ("Privacy Statement") applies to the treatment of personally identifiable information submitted by, or otherwise obtained from, you in connection with the associated application ("Application"). The Application is provided by  Funizi (and may be provided by  Funizi on behalf of a  Funizi licensor or partner ("Application Partner"). By using or otherwise accessing the Application, you acknowledge that you accept the practices and policies outlined in this Privacy Statement.</p>
      <p><strong>WHAT PERSONAL INFORMATION DOES FUNIZI COLLECT?</strong></p>
      <p>We collect the following types of information from our users:<br>
      Personal Information You Provide to Us:<br>
      We may receive and store any information you submit to the Application (or otherwise authorize us to obtain - such as, from (for example) your Facebook account). The types of personal information collected may include your full name, email address, gender, IP address, browser information, username, demographic information, and any other information necessary for us to provide the Application services.</p>
      <p><strong>Personal Information Collected Automatically:</strong></p>
      <p>We receive and store certain types of usage related information whenever you interact with Application. For example, Testing-Survley may automatically receive and record information regarding your computer's IP address, browser information, Facebook user ID, Facebook Page fan status, and URLs accessed. Such information may be shared in aggregate (non-personally identifiable) form with our partners.</p>
      <p><strong>WILL  FUNIZI SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</strong></p>
      <p>Personal information about our users is an integral part of our business. We neither rent nor sell your personal information to anyone (with the exception of sharing your information with an applicable Application Partner - see the "Application Partner Treatment" section above). We share your personal information only as described below.</p>
      <p><strong>ANALYTICS DEMOGRAPHICS AND INTEREST REPORTING</strong></p>
      <p>We use “Analytics Demographics and Interest Reporting” to collect only Statistical Data</p>
      <p>Information that assist us monitoring and improving service. </p>
      <p> Funizi may provide this statistical data to third parties. Under no circumstances will you be able to be identified from this statistical data; you will remain anonymous.</p>
      <p>You may opt out of Google Analytics for Display Advertisers and opt out of customized Google Display Network ads by visiting Google’s <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">Google Analytics Opt-out Browser Add-on</a>.</p>
      <p><strong>CONDITIONS OF USE:</strong></p>
      <p>If you decide to use or otherwise access the Application, your use/access and any possible dispute over privacy is subject to this Privacy Statement and our Terms of Use, including limitations on damages, arbitration of disputes, and application of California state law.</p>
      <p><strong>THIRD PARTY APPLICATIONS/WEBSITES.</strong></p>
      <p>The Application may permit you to link to other applications or websites. Such third party applications/websites are not under  Funizi’s control, and such links do not constitute an endorsement by  Funizi of those other applications/websites or the services offered through them. The privacy and security practices of such third party application/websites linked to the Application are not covered by this Privacy Statement, and  Funizi is not responsible for the privacy or security practices or the content of such websites.</p>
      <p><strong>WHAT PERSONAL INFORMATION CAN I ACCESS?</strong></p>
      <p> Funizi allows you to access the following information about you for the purpose of viewing, and in certain situations, updating that information. <br>
      - Public profile <br>
      - Account and user profile information <br>
      - Your Taggable Friends</p>
      <p>This list may change in the event the Application changes</p>
      <p><strong>CHANGES TO THIS PRIVACY STATEMENT.</strong></p>
      <p> Funizi may amend this Privacy Statement from time to time. Use of information we collect now is subject to the Privacy Statement in effect at the time such information is used. If we make changes in the way we use personal information, we will notify you by posting an announcement on our Site or sending you an email. Users are bound by any changes to the Privacy Statement when he or she uses or otherwise accesses the Application after such changes have been first posted.</p>
      <p><strong>QUESTIONS</strong></p>
      <p>If you have any questions or concerns regarding privacy on our Website, please send us a detailed message at admin@funizi.com.<br>
      We will make every effort to resolve your concerns.<br>
      Effective Date: September 16, 2017</p>
    </div>
  </div>
  </article>
</div>

{% endblock %}
