RewriteEngine On
#RewriteCond %{HTTPS} off

#RewriteCond %{REQUEST_URI} !^/health/index.html
#RewriteCond %{HTTPS} off#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} !^/health/index.html [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%/$1 [R,L]

RewriteCond %{SERVER_PORT} !80
RewriteCond %{REQUEST_URI} ^/health/index.html [NC]
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1 [R,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]