RewriteEngine On

RewriteBase /

RewriteCond %{HTTP_HOST} ^(www\.)?dashboard.funizi\.com.*$
RewriteRule (.*) creation-test/$1 [L]

RewriteCond %{HTTP_HOST} ^(www\.)?creation.funizi\.com.*$
RewriteRule (.*) creation-test/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]