{% extends 'templates/layoutCreationTest.twig' %}
{% block title %}Choisir un thème pour le test {% endblock %}
{% block additionalstyle %}
  <style>
  .theme{
      border: 1px solid #ddd;
      border-radius: 4px;
      margin: 0;
      margin-bottom: 15px;
      padding-top: 15px;
  }
  .block-img-theme{
      background: transparent;
  }
  .block-btn-theme{
      clear: both;
      text-align: center;
      padding: 8px;
      background-color: #ddd;
      margin:0 15px 15px;
      border-radius: 0 0 4px 4px;
  }
  </style>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading center">
  <h3 class="panel-title">Sélectionnez le type de test que vous souhaitez créer</h3>
  </div>
  <div class="panel-body">
  <div class="row">
    <section class="col-sm-6 col-xs-12">
          <div class="row theme">
       <div class="block-img-theme">
         <div class="col-lg-12 center ">
           <a href="tests/new/4"><img src="{{ domain_url }}/src/img/theme4.jpg" class="img-theme"/></a>
         </div>
               </div>
               <div class="block-btn-theme">
             <a href="tests/new/4"><button type="button"  id="theme-4" class="btn btn-primary btn-md btn-block" ><span class="glyphicon glyphicon-picture"></span> Test avec thème personnalisé </button> </a>
       </div>
   </div>
    </section>
  <section class="col-sm-6 col-xs-12">
        <div class="row theme">
     <div class="block-img-theme">
       <div class="col-lg-12 center ">
         <a href="tests/new/3"><img src="{{ domain_url }}/src/img/theme3.jpg" class="img-theme"/></a>
       </div>
             </div>
             <div class="block-btn-theme">
           <a href="tests/new/3"><button type="button"  id="theme-3" class="btn btn-primary btn-md btn-block" ><span class="glyphicon glyphicon-picture"></span> Test avec des amis</button> </a>
     </div>
   </div>
  </section>
  <section class="col-sm-6 col-xs-12">
          <div class="row theme">
       <div class="block-img-theme">
         <div class="col-lg-12 center">
           <a href="tests/new/2"><img src="{{ domain_url }}/src/img/theme2.jpg" class="img-theme"/></a>
         </div>
               </div>
         <div class="block-btn-theme">
             <a href="tests/new/2"><button type="button"  id="theme-2" class="btn btn-primary btn-md btn-block" ><span class="glyphicon glyphicon-picture"></span> Test avec des résultats textuels</button>
       </div>
   </div>
  </section>
  <section class="col-sm-6 col-xs-12">
        <div class="row theme">
     <div class="block-img-theme">
       <div class="col-lg-12 center ">
         <a href="tests/new/1"><img src="{{ domain_url }}/src/img/theme1.jpg" class="img-theme"/></a>
       </div>
             </div>
             <div class="block-btn-theme">
           <a href="tests/new/1"><button type="button"  id="theme-1" class="btn btn-primary btn-md btn-block" ><span class="glyphicon glyphicon-picture"></span> Test avec des résultats en image</button> </a>
     </div>
   </div>
  </section>
  </div>

<!--div class="row margin-top">
        <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 center">
            <button type="button"  id="btn_cancel" onclick="window.location = 'tests';" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-arrow-left"></span> Annuler</button>
        </div>
    </div-->
  </div>
</div>
{% endblock %}
