/* DATATABLE©S*/

.dataTables_wrapper{
	padding: 5px;
	overflow: hidden;
}
table.dataTable.table-condensed > thead > tr > th{
	vertical-align: middle;
}
table.dataTable thead th, table.dataTable thead td{
	padding: 5px 18px;
}
.pagination > li > a, .pagination > li > span {
	line-height: 1;
	padding: 5px 7px;
	font-size: 11px;
}
div.dataTables_wrapper div.dataTables_info, .dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter, div.dataTables_wrapper div.dataTables_filter label,div.dataTables_wrapper div.dataTables_length label,
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	font-size: 11.7px;
	line-height: 12.7px;
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
	padding: 10px 5px;
}
div.dataTables_wrapper div.dataTables_filter input, div.dataTables_wrapper div.dataTables_length select{
	height: 25px;
}
/* END DATATABLE©S*/

/* TABLE©S*/
.table > thead > tr > th{
	border-bottom: 0;
}
/* END TABLE©S*/

/* AUTOCOMPLETION */
.select2-container{
	margin-bottom: 10px;
}
.select2 .select2-container .select2-container--default .select2-container--focus{


}


.ui-autocomplete {
	position: absolute;
	z-index: 1000;
	cursor: default;
	padding: 0;
	margin-top: 2px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
	padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
	background-color: #DDD;
}
.ui-helper-hidden-accessible {
	display: none;
}
/* END AUTOCOMPLETION */
/* PANELS */
.panel{
	border-radius: 0;
}
.panel-heading{
	padding: 3px 5px;
    font-size: 13px;
}
.panel-body{
	padding: 0;
}
/* ENDPANELS */
#block_get_code{
	display:none;
	margin-top:20px;
}
#btn_go{
	/*margin-left: 10px;*/
    width: auto;
	margin-top: -3px;
	height: 32px;
}
.one-input{
	padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
	/*margin-left: 10px;*/
}

.select2-block{
	float: left;
}
.other-block{
	float: right;
}
.select21{
	width: 200px;
}
.select22{
	width: 300px;
}
.one-stat{
	display: inline-block;
	width: 16.66%;
	border-right: 1px solid #ddd;
	font-size: 24px;
    margin: 10px  0;
	padding: 5px 10px;
}
.label-stat{
	display: block;
    clear: both;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
    height: 14px;
}

.test-name, .label-page-name{
	width: 100%;
	background: #ddd;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
}
.infobox-container {
	/*text-align: center;*/
	font-size: 0;
	margin-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
}
.infobox-container>table, .infobox-container .panel, #stats_for_one_range table{
	font-size: 12px;
}
#first_block{
	padding-top:40px;
}
.pointer{
	cursor: pointer;
}
.pointer:hover, .table-striped > tbody > tr:nth-of-type(odd):hover{
	background: #C0D7FC;
}
.panel{
	margin: 20px 0 0 0 ;
	overflow: hidden;
}
.half-width, .half-width-left, .half-width-right{
	display: inline-block;
	width: 49%;
	margin: 20px 0 0 0 ;
}
.small-half-width-left{
	display: inline-block;
	width: 39%;
	margin: 0 ;
}
.small-half-width-right{
	display: inline-block;
	width: 58%;
	margin: 0 ;
}
.half-width-left, .small-half-width-left{
	 /*float: left;*/
}
.half-width-right, .small-half-width-right{
	 float: right;
}
.nb-footer{
	clear: both;
	height: auto;
}
.nb{
	font-size: 11px;
	color: #5B6066;
	font-style: italic;
}
.see-more{
	cursor: pointer;
	float: right;
	font-size: 12px;
	color: #06327B;
}
.progress{
    position: relative;
	height: 11px;
	margin-bottom: 0;
	width: auto;
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
 	box-shadow: none;
}
.progress-percent{
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}
.th-percent{
	min-width: 50px;
}
.title-test, .name-country{
	color: #1651B1 ;
	font-weight: 400;
}
.infobox {
	display: inline-block;
	/*width: 33.43%;
	width: 25.07%;*/
	width: 20.1%;
	height: auto;
	min-height: 75px;
	color: #555;
	background-color: #FFF;
	box-shadow: none;
	margin: -1px 0 0 -1px;
	padding: 8px 0;
	border: 1px dotted;
	border-color: #D8D8D8!important;
	vertical-align: middle;
	/*text-align: center;*/
	position: relative;
}

.infobox3 {
	margin: -1px -2px -1px -3px;
    width: 20.23%;
}
.infobox2 {
	display: inline-block;
	width: 20%;
	height: auto;
	color: #555;
	background-color: #FFF;
	box-shadow: none;
	padding: 8px 0;
	border: 1px dotted;
	border-color: #D8D8D8!important;
	vertical-align: middle;
	text-align: center;
	position: relative;
	min-height: 95px;
}
.infobox-header{
	width: 100%;
	background-color: #ececf1;
	margin: 0 auto;
	color: #000;
	font-size: 16px;
	min-height: 20px;
	vertical-align: middle;
	padding: 8px;
	border: 1px dotted;
	margin: 0 0 0 -1px;
	border-color: #D8D8D8!important;
}
.infobox, .infobox2, .popover, .popover-title, .progress, .tooltip-inner {
	border-radius: 0;
}
.infobox>.badge , .infobox2>.badge {
	position: absolute;
	color:#FFF;
	text-shadow: none;
	font-size: 11px;
	line-height: 15px;
	height: 16px;
	padding: 0 6px;
}
.badge-success, .badge.badge-success, .label-success, .label.label-success {
	background-color: #82AF6F;
	right: 2px;
    top: 1px;
}
.stat-success, .stat.stat-success{
	background-color: transparent;
	right: 2px;
  bottom: 10px;
}

.infobox>.stat,  .infobox2>.stat {
    display: inline-block;
    position: absolute;
    right: 2px;
    bottom: 10px;
    text-shadow: none;
    font-weight: 700;
    color: #ABBAC3;
    font-size: 12px;
    /*padding-right: 12px;*/
    padding-top: 3px;
}

/*
.infobox>.stat:before {
    display: inline-block;
    width: 4px;
    height: 10px;
    background-color: #ABBAC3;
    position: absolute;
    right: 4px;
    top: 7px;
}
.infobox>.stat:after {
    display: inline-block;
    position: absolute;
    right: 2px;
    top: -2px;
    border: 12px solid transparent;
    border-width: 5px 4px;
    border-bottom-color: #ABBAC3;
}
.infobox>.stat:after, .infobox>.stat:before, .social-or-login:before {
    content: "";
}
*/

.infobox>.stat.stat-success {
    color: #77C646;
}
/*
.infobox>.stat.stat-success:before {
    background-color: #77C646;
}
.infobox>.stat.stat-success:after {
    border-bottom-color: #77C646;
}
*/


.infobox>.stat.stat-important {
    color: #E4564F;
}
/*
.infobox>.stat.stat-important:before {
    background-color: #E4564F;
    top: 3px;
}
.infobox>.stat.stat-important:after {
    border-top-color: #E4564F;
    border-bottom-color: transparent;
    bottom: 0;
    top: auto;
    width: 8px;
}
*/

.infobox>.infobox-data, .infobox2>.infobox-data {
	display: inline-block;
	border-width: 0;
	font-size: 12px;
	text-align: left;
	line-height: 13px;
	/*min-width: 155px;*/
	position: absolute;
	top: 20px;
    left: 45px;
}
.infobox>.infobox-data2, .infobox2>.infobox-data2 {
	display: inline-block;
	border-width: 0;
	font-size: 12px;
	text-align: center;
	line-height: 13px;
	/*min-width: 155px;*/
	position: absolute;
	top: 20px;
    left: 0;
	padding: 0 2px;
	width: 100%;
}
.infobox>.infobox-data>.infobox-data-number , .infobox2>.infobox-data>.infobox-data-number {
	display: inline-block;
	font-size: 24px;
	margin: 2px 0 10px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(0,0,0,.15);
}
.infobox>.infobox-data>.infobox-data-number-2 , .infobox2>.infobox-data>.infobox-data-number-2 {
	display:inline-block;
	font-size:14px;
}
.infobox .infobox-content, .infobox2 .infobox-content {
	color: #555;
}
.infobox>.stat.stat-success, .infobox2>.stat.stat-success {
	color: #77C646;
}
.infobox>.infobox-icon>.ace-icon, .infobox2>.infobox-icon>.ace-icon {
	display: inline-block;
	/*height: 42px;*/
	margin: 0;
	padding: 1px 1px 0 2px;
	background-color: transparent;
	border-width: 0;
	text-align: center;
	position: relative;
	border-radius: 100%;
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.infobox>.infobox-icon , .infobox2>.infobox-icon {
	display: inline-block;
	vertical-align: top;
	/*width: 44px;
	margin: 15px 0 0 5px;*/
	position: absolute;
    top: 23px;
    left: 10px;
}
.infobox>.infobox-icon>.ace-icon:before, .infobox2>.infobox-icon>.ace-icon:before {
	font-size: 14px;
	display: block;
	padding: 6px 0 7px;
	width: 23px;
	text-align: center;
	border-radius: 100%;
	color: #FFF;
	color: rgba(255,255,255,.9);
	background-color: transparent;
	background-color: rgba(255,255,255,.2);
	text-shadow: 1px 1px 1px rgba(0,0,0,.14);
}
.infobox-green {
	color: #9ABC32;
	border-color: #9ABC32;
}
.infobox-green>.infobox-icon>.ace-icon {
	background-color: #9ABC32;
}
.infobox-blue {
	color: #6FB3E0;
	border-color: #6FB3E0;
}
.infobox-blue>.infobox-icon>.ace-icon {
	background-color: #6FB3E0;
}
.infobox-blue3 {
	color: #3E6FBD;
	border-color: #3E6FBD;
}
.infobox-blue3>.infobox-icon>.ace-icon {
	background-color: #3E6FBD;
}
.infobox-pink {
	color: #CB6FD7;
	border-color: #CB6FD7;
}
.infobox-pink>.infobox-icon>.ace-icon {
	background-color: #CB6FD7;
}
.infobox-red {
	color: #D53F40;
	border-color: #D53F40;
}
.infobox-red>.infobox-icon>.ace-icon {
	background-color: #D53F40;
}
.infobox-red2 {
	color: #DE940A;
	border-color: #DE940A;
}
.infobox-red2>.infobox-icon>.ace-icon {
	background-color: #DE940A;
}
.infobox-orange2 {
	color: #F79263;
	border-color: #F79263;
}
.infobox-orange2>.infobox-icon>.ace-icon {
	background-color: #F79263;
}
.infobox-blue2 {
	color: #3983C2;
	border-color: #3983C2;
}
.infobox-blue2>.infobox-icon>.ace-icon {
	background-color: #3983C2;
}
.spacer{
	clear: both;
	height: 1px;
	width: 100%;
	margin: 10px 0 ;
}
a, a:hover, a:active, a:visited{
	color: inherit;
}
/*  sidebar   */
.options-date>div{
	/*padding-left: 20px;*/
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #FFF;
  /*position: fixed;*/
  top: 0px;
  left: -10px;
  width: 100%;
  height: 100%;
  color: #000;
  	margin-top: 40px;
  	border: 1px solid #CCC;
  	border-radius: 4px;
  	box-shadow: 0 0 5px 0 rgba(0,0,0,.35);
	flex-shrink: 0;
	height: 100%;
	overflow-y: auto;
	position: relative;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  /*background-color: #4f5b69;*/
  color:  #d19b3d;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 5px;
  border-left: 3px solid #FFF;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 1px solid #d19b3d;
  /*background-color: #4f5b69*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color:  #d19b3d;

}


.nav-side-menu {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.nav-side-menu .toggle-btn {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10 !important;
  padding: 3px;
  background-color: #ffffff;
  color: #000;
  width: 40px;
  text-align: center;
}
.nav-side-menu .menu-list .menu-content {
  display: block;
}

.brand {
  text-align: left !important;
  font-size: 22px;
  padding-left: 20px;
  line-height: 50px !important;
}



@media screen and (max-width: 1000px) {

  	.half-width, .half-width-left, .half-width-right{
	  	display: inline-block;
	  	width: 100%;
	  	margin: 10px 0 ;
	}
	.select2-container{
		/*float: right;*/
		margin-bottom: 10px;
		max-width: 100%;
	}
	.infobox>.infobox-data>.infobox-data-number , .infobox2>.infobox-data>.infobox-data-number {
		font-size: 18px;
	}
	.infobox3{
		width: 20.28%;
		min-height: 90px;
	}
	.dataTables_wrapper, .infobox-container>table, .infobox-container .panel, #stats_for_one_range table{
		overflow-x: scroll;
		min-width: 100;
	}
}
@media (max-width: 992px) {
	.select2-container{
		/*float: right;*/
	}
	.select2-block{
		float: right;
	}
	.other-block{

	}
	#daterange{
		clear: both;
	}
}
@media (max-width: 767px) {
	.nav-side-menu {
		display: none;
	}
	  .nav-side-menu {
	    position: relative;
	    width: 100%;
	    margin-bottom: 10px;
		left:0;
		margin: 10px;
		width: auto;
	  }
	  .nav-side-menu .toggle-btn {
	    display: block;
	    cursor: pointer;
	    position: absolute;
	    right: 10px;
	    top: 10px;
	    z-index: 10 !important;
	    padding: 3px;
	    background-color: #ffffff;
	    color: #000;
	    width: 40px;
	    text-align: center;
	  }
	  .nav-side-menu .menu-list .menu-content {
	    display: block;
	  }

	  .brand {
	    text-align: left !important;
	    font-size: 22px;
	    padding-left: 20px;
	    line-height: 50px !important;
	  }

	.infobox3 {
	    width: 33.66%;
	    min-height: 80px;
	}
}
@media screen and (max-width: 550px) {
	.select2-container{
		width: 100%;
		float: right;
	}
	.select21, .select22{
		width: 100%;
		float: right;
	}
}
@media screen and (max-width: 500px) {
	.nav-side-menu{
		left:0;
		margin: 10px;
		width: auto;
	}
	.infobox3{
		width: 50.6%;
    	min-height: 90px;
	}
	.infobox-container>table, .infobox-container .panel, #stats_for_one_range table{
		display: block;
		clear: both;
		width: 100%;
		margin-bottom: 20px;
	}
    #first_block{
  	  	padding-top: 0;
    }
    .nav-side-menu{
  	  	margin-top: 0;
    }
}

@media screen and (max-width: 380px) {

	.infobox3{
		width: 50.7%;
    	min-height: 80px;
	}

    .infobox2{
  	  width: 50%;
  	  min-height: 143px;

    }
    .infobox>.infobox-data, .infobox2>.infobox-data {
  	  /*min-width: 100%;*/
    }
}

body {
  margin: 0px;
  padding: 0px;
}
