<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Application en maintenance | Funizi</title>
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
      body{
        background: #f9f9f9;
        overflow-x: hidden !important;
        padding-top:60px;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0.5px;
      }
        #fof{display:block; width:100%; margin:100px 0; line-height:1.6em; text-align:center;}
        #fof .hgroup{text-transform:uppercase;}
        #fof .hgroup h1{margin-bottom:25px; font-size:80px;}
        #fof .hgroup h1 span{display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;}
        #fof .hgroup h1 span strong{display:inline-block; padding:25px 20px 20px; border:1px solid #CCCCCC; font-weight:normal;}
        #fof .hgroup h2{font-size:60px;}
        #fof .hgroup h2 span{display:block; font-size:30px;margin-top: 25px;}
        #fof p{margin:5px 0 0 0; padding:0; font-size:20px;}
        #fof p:first-child{margin-top:0;}
    </style>
</head>
<body>


<div class="wrapper row2">
    <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <section id="fof" class="clear">
            <!-- ####################################################################################################### -->
            <div class="hgroup">
                <h2>
                <!-i class="fas fa-cogs"></i-->
                  <img src="http://bestanimations.com/Science/Gears/loadinggears/gear-animation-orange.gif" style="height:100px"/>
                  <span style="display:block">Votre application est en cours de maintenance ...</span>
                </h2>
            </div>
            <p>Nous serons de retour dans un instant.</p>
            <!-- ####################################################################################################### -->
        </section>
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
    </div>
</div>



</body>
</html>
